{{#if this.showButton}}
  <span class="topic-OP-admin-menu-button-container">
    <span class="topic-OP-admin-menu-button">
      <DMenu
        @identifier="topic-OP-admin-menu"
        {{!-- @onRegisterApi={{this.onRegisterApi}} --}}
        @modalForMobile={{true}}
        @autofocus={{true}}
        @triggerClass="btn-default btn-icon toggle-OP-admin-menu"
      >
        <:trigger>
          {{d-icon "gear"}}
        </:trigger>
        <:content>
          <DropdownMenu as |dropdown|>
            {{#each this.buttonListGrouped as |button|}}
              {{#if button}}
                <dropdown.item>
                  <DButton
                    @label={{button.label}}
                    @translatedLabel={{button.translatedLabel}}
                    @icon={{button.icon}}
                    class={{concatClass "btn-transparent" button.className}}
                    @action={{button.action}}
                  />
                </dropdown.item>
              {{else}}
                <dropdown.divider />
              {{/if}}

            {{/each}}
          </DropdownMenu>
        </:content>
      </DMenu>
    </span>
  </span>
{{/if}}